* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f9f4;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b5e20;
    padding: 15px 50px;
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-left img {
    width: 40px;
}

.nav-center {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-center a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-center a:hover {
    color: #a5d6a7;
}

.nav-right a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

.signup {
    background: #4caf50;
    padding: 6px 12px;
    border-radius: 5px;
}

/* Hero */
.crop-hero {
    text-align: center;
    padding: 50px 20px;
    background: #e8f5e9;
}

/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: rgb(232, 222, 222);
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #2e7d32;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #1b5e20;
}

/* Detail Section */
.detail-section {
    display: none;
    padding: 40px;
    align-items: center;
    gap: 30px;
    background: white;
    margin: 30px;
    border-radius: 10px;
}

.detail-section img {
    width: 300px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #1b5e20;
    color: white;
}