/* Navbar Main */
.navbar {
    background-color: #1f2d4a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

/* Left Side */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.nav-left h2 {
    color: white;
    font-family: Georgia, serif;
}

/* Center Menu */
.nav-center {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-center li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-center li a:hover {
    color: #00c3ff;
}

/* Right Side */
.nav-right a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-size: 18px;
    transition: 0.3s;
}

.signup {
    font-weight: bold;
}

.nav-right a:hover {
    color: #00c3ff;
}


/* Page Title */


.page-title {
    text-align: center;
    padding: 40px;
    background: #4CAF50;
    color: white;
}

/* Card Container */
.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px;
}

/* Individual Card */
.card {
    background: white;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
    padding: 20px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card button {
    padding: 8px 15px;
    background: #1f2d4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #00c3ff;
    color: black;
}

/* Table Styling */
table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #1f2d4a;
    padding: 12px;
    text-align: center;
}

th {
    background: #1f2d4a;
    color: white;
}