body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #faf8d7;
}

/* ===== NAVBAR ===== */
.navbar-main-container {
    background: rgb(87, 248, 87);
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.project-name {
    color: white;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 200px;
}

.nav-links-container,
.auth-links-container {
    display: flex;
    gap: 12px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.menu-item:hover {
    color: black;
}

/* ===== BODY ===== */


body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: green;
    color: white;
    text-align: center;
    padding: 35px;
    text-align: center;
}
.main-head{
text-align: center;
padding-top: 35px;
}

table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
}

th {
    background: darkgreen;
    color: white;
    padding: 12px;
}

td {
    text-align: center;
    padding: 10px;
}

img {
    width: 120px;
    height: 90px;
    border-radius: 8px;
}

tr:hover {
    background: #e8ffe8;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
