body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3fdf5;
}

/* Navbar */
.navbar {
    background: linear-gradient(to right, #1b5e20, #2e7d32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 50px;
    margin-right: 10px;
}

.nav-left h2 {
    color: white;
}

.nav-center {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-center a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.nav-center a:hover,
.active {
    color: #c8facc;
}

.nav-right a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.signup-btn {
    background: white;
    color: #2e7d32;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
}

/* Hero */
.hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(to right, #43a047, #66bb6a);
    color: white;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px;
}

.card {
    background: white;
    width: 260px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #1b5e20;
}

/* Table */
.table-section {
    padding: 40px;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
}

th {
    background: #2e7d32;
    color: white;
}

tr:hover {
    background: #e8f5e9;
}

/* Footer */
footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 15px;
}

footer a {
    color: #c8facc;
}