/* Navbar Main */
.navbar {
    background-color: #1f2d4a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

/* Left Side */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.nav-left h2 {
    color: white;
    font-family: Georgia, serif;
}

/* Center Menu */
.nav-center {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-center li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-center li a:hover {
    color: #00c3ff;
}

/* Right Side */
.nav-right a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-size: 18px;
    transition: 0.3s;
}

.signup {
    font-weight: bold;
}

.nav-right a:hover {
    color: #00c3ff;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f9f4;
}

.navbar{
    background:#1b5e20;
    color:white;
    padding:15px 40px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f9f4;
}

/* Navbar */
.navbar{
    background:#1b5e20;
    color:white;
    padding:15px;
    text-align:center;
}

/* Hero */
.scheme-hero{
    text-align:center;
    padding:40px;
    background:#e8f5e9;
}

/* CENTER CONTAINER */
.scheme-container{
    display:flex;
    justify-content:center;   /* center horizontally */
    align-items:center;
    flex-wrap:wrap;
    gap:30px;
    padding:40px;
}

/* CARD DESIGN */
.scheme-card{
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    text-align:center;
    transition:0.3s;
}

.scheme-card:hover{
    transform:translateY(-8px);
}

.scheme-card img{
    width:100%;
    height:180px;
    border-radius:10px;
    object-fit:cover;
}

.scheme-card h3{
    margin-top:15px;
}

.scheme-card p{
    margin:10px 0;
    font-size:14px;
}

/* BUTTON */
.scheme-card button{
    padding:8px 15px;
    border:none;
    background:#2e7d32;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.scheme-card button:hover{
    background:#1b5e20;
}