/* Navbar Main */
.navbar {
    background-color: #1f2d4a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

/* Left Side */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.nav-left h2 {
    color: white;
    font-family: Georgia, serif;
}

/* Center Menu */
.nav-center {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-center li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-center li a:hover {
    color: #00c3ff;
}

/* Right Side */
.nav-right a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-size: 18px;
    transition: 0.3s;
}

.signup {
    font-weight: bold;
}

.nav-right a:hover {
    color: #00c3ff;
}

/* Hero */
.hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(to right, #4CAF50, #2E8B57);
    color: white;
}

.hero button {
    padding: 10px 20px;
    background: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: yellow;
}

/* Images */
.image-section {
    text-align: center;
    padding: 40px;
}

.image-section img {
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}

/* Table */
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid green;
    padding: 10px;
    text-align: center;
}

th {
    background: green;
    color: white;
}

/* Scheme */
.scheme-box {
    text-align: center;
    padding: 40px;
    background: #e6ffe6;
}

/* Weather */
.weather {
    text-align: center;
    padding: 30px;
    background: #ccffcc;
}

/* Footer */
footer {
    background: green;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
.menu-item{
text-decoration: none;
color: #f4fff4;
}

