

/* Hero */
.hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(to right, #4CAF50, #2E8B57);
    color: white;
}

.hero button {
    padding: 10px 20px;
    background: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: yellow;
}

/* Images */
.image-section {
    text-align: center;
    padding: 40px;
}

.image-section img {
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}

/* Table */
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid green;
    padding: 10px;
    text-align: center;
}

th {
    background: green;
    color: white;
}

/* Scheme */
.scheme-box {
    text-align: center;
    padding: 40px;
    background: #e6ffe6;
}

/* Weather */
.weather {
    text-align: center;
    padding: 30px;
    background: #ccffcc;
}

/* Footer */
footer {
    background: green;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
.menu-item{
text-decoration: none;
color: #f4fff4;
}

