body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #faf8d7;
}

/* ===== NAVBAR ===== */
.navbar-main-container {
    background: rgb(87, 248, 87);
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.project-name {
    color: white;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 200px;
}

.nav-links-container,
.auth-links-container {
    display: flex;
    gap: 12px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.menu-item:hover {
    color: black;
}

.main {
    text-align: center;
    padding: 40px;
    background: linear-gradient(#90e0ef,#caf0f8);
}

.details {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.box {
    background: white;
    padding: 20px;
    margin: 10px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

/* Main container */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Heading */


/* Table */
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th {
    background: #0077b6;
    color: white;
}

td, th {
    text-align: center;
}

/* Button */
.btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background: #0077b6;
    color: white;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

/* Hide checkbox */
#more {
    display: none;
}

/* Hidden info */
.more-info {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* Show on click */
#more:checked + .btn + .more-info {
    display: block;
}
