body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #faf8d7;
}

/* ===== NAVBAR ===== */
.navbar-main-container {
    background: rgb(87, 248, 87);
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.project-name {
    color: white;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 200px;
}

.nav-links-container,
.auth-links-container {
    display: flex;
    gap: 12px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.menu-item:hover {
    color: black;
}

.main {
    text-align: center;
    padding: 40px;
    background: linear-gradient(#90e0ef,#caf0f8);
}

.details {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.box {
    background: white;
    padding: 20px;
    margin: 10px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

/* Forecast */
.heading {
    text-align: center;
}

.forecast {
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
}

/* Tips Section */
.tips {
    background: #ade8f4;
    padding: 20px;
    margin-top: 30px;
}
